#bottom-footer {
	height: 60px;
	background-color: #000000;
	padding-top: 20px;
}

td{

	color: #4C4C4C;
	font-weight: bold;
	font-size: 120%;

}
#footer> .table{
		background-color: #0B0B0B;
		margin-bottom: 0px;
	cursor: pointer;
	}


.starRating:not(old){
	display        : inline-block;
	width          : 7.5em;
	height         : 1.5em;
	overflow       : hidden;
	vertical-align : bottom;
	cursor: pointer;
}

.starRating:not(old) > input{
	margin-right : -100%;
	opacity      : 0;
	cursor: pointer;
}

.starRating:not(old) > label{
	display         : block;
	float           : right;
	position        : relative;
	background      : url('../photo/star-off.svg');
	background-size : contain;
	cursor: pointer;
}

.starRating:not(old) > label:before{
	content         : '';
	display         : block;
	width           : 1.5em;
	height          : 1.5em;
	background      : url('../photo/star-on.svg');
	background-size : contain;
	opacity         : 0;
	transition      : opacity 0.2s linear;
	cursor: pointer;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,

.starRating:not(:hover) > :checked ~ label:before{
	opacity : 1;
	cursor: pointer;
}



#title{
/*background-image:url(../images/Masking.png);
z-index:35;
padding-bottom: 0px;
*/
background-color:#0b1016;padding-bottom:0px;z-index:35;
}

.jumbotron{
	background-color: #ffffff;
}

#bg{
	background-color: #f0f0e8;
}

.row-no-padding   >[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;

	margin-left: 0;
	margin-right: 0;

}


.iconfonts{
	font-size:20px;
	font-color:black;
	font-weight:600;
}


a.default{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		line-height: 1.42857;
		color: #333;
}


div.oneproduct{
	width:300px;
	height:400px;
	margin:20px;
	float:left;
	cursor: pointer;
}

div.oneproduct:hover{
background-color: #eeeeee;
}


.indexsearchinput{
font-size:20px;padding:5px;padding-left:14px;height:auto;
}


.indexsearchbutton{
padding:5px;
height:41px;
}

img.productimgothers{
	width:85px;
	height:85px;
	cursor: pointer;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.2s;
}



img.productimgothers:hover{
	margin:-6px;
	width:97px;
	height: 97px;
}


img.dispproductimg{
	max-width:100%;
	max-height:100%;
	cursor:url(photo/mohit.jpg),auto;
}



@font-face {
		font-family: bigname;
		src: url(fonts/OPTIsupAuvantGothicBold.otf);
}

.titlebn{
	font-family:bigname;font-size:50px;color:#02918c;
}


.myinput{
	border-radius: 2px;
}



.glyphicon-correct{
	background-image: url('../photo/icons/correct.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.glyphicon-incorrect{
	background-image: url('../photo/icons/incorrect.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.glyphicon-untick{
	background-image: url('../photo/icons/untick.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.myicon{
	padding:13px;
}

.mycheckbox{
	display:none;
}


.shadowbox{
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}


.titleline{
	font-size:20px;
	font-weight: 500;
	font-family: Optima;
}

.titleline1{
	font-size:20px;
	font-weight: 00;
	font-family: Optima;
}



input[type=checkbox] +label {
cursor: pointer;
}


.mybtn{
	background-color:green;background-image:none;
	border-radius: 2px;
}

.mybtn:active{
	background-color: #00ff00;
}
